*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --laranja1: #ff0000;
    --laranja2: #ff5a00;
    --laranja3: #ff9a00;
    --laranja4: #ffce00;
    --verde: #167c12;
}
body.dark{
   background-image: url('/image/luffy_zoro.jpg'); 
   height: 100vh;
   background-size: cover;
   background-position: center;
   transition: background-image 0.5s linear;
}
.bg-img{
    background-image:url("/image/ace.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s linear;
}
.bg-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.203);
}
.content header{
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -90deg,
    var(--laranja1) 0%,
    var(--laranja2) 29%,
    var(--laranja3) 67%,
    var(--laranja4) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s ease infinite;
  display: inline-block;
    font-size: 190px;
}
@keyframes textclip{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 30px;
    font-size: 13px;
    font-weight: 700;
    color:#222;
    display: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: var(--laranja2);
    border: 1px solid var(--laranja3);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s ease;
}
.field input[type="submit"]:hover{
    background: var(--laranja3);
}
.login{
    color: #fff;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.label{
    cursor: pointer;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    border-radius: 50px;
    height: 26px;
    width: 50px;
}
.checkbox:checked + .label{
    background-color: var(--verde);
}
.ball{
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: transform 0.5s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
